<html lang="en">
<head>
    <base href="">
    <title>@ViewData["MetaTitle"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="keywords" content="@ViewData["MetaKeywords"]" />
    <meta name="MetaAuthor" content="@ViewData["MetaAuthor"]" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="@ViewData["MetaOgType"] "/>
    <meta property="og:title" content="@ViewData["MetaOgTitle"] "/>
    <meta property="og:url" content="@ViewData["MetaOgUrl"]" />
    <meta property="og:description" content="@ViewData["MetaOgDescription"]" />
    <meta property="og:image" content="@ViewData["MetaOgImage"]" />
    <meta property="og:site_name" content="ProgrammingCode" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="~/client/assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/client/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/client/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/client/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/client/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <script src="~/https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--end::Global Stylesheets Bundle-->   
    <link rel="stylesheet" type="text/css" href="~/client/assets/css/Styles.css">



    <link rel="stylesheet" href="https://primefaces.org/primeng/showcase/assets/showcase.css" />

    <!-- PrimeNG Theme -->
    <link rel="stylesheet" href="https://primefaces.org/primeng/showcase/assets/theme.css" />

    <!-- PrimeNG JS -->
    <script src="https://unpkg.com/primeicons/primeicons.js"></script>
    <script src="https://unpkg.com/primeng/primeng.js"></script>

</head>
<body>
    <partial name="partials/_navbar" />
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="partials/_footer" />
    <script src="@Url.Content("~/client/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/client/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/client/js/site.js")"></script>
    <script src="@Url.Content("~/_m/plugins/global/plugins.bundle.js")"></script>
    <script src="@Url.Content("~/_m/js/scripts.bundle.js")"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used by this page)-->
    <script src="@Url.Content("~/_m/plugins/mvc-jquery-ajax/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/_m/plugins/mvc-jquery-validate/jquery.validate.js")"></script>
    <script src="@Url.Content("~/_m/plugins/mvc-jquery-validate/jquery.validate.unobtrusive.js")"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
