<div class="container ctr">
	<div class="row">
		<div class="col-md-12 ttl">
			Program
		</div>
	</div>

	<div class="row">
		<div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
	</div>

	<ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
		@foreach (var item in ViewBag.LanguagesForslider)
		{
			<li class="nav-item">
				<form method="post" id="Solution" data-ajax-mode="replace" data-ajax-update="#solutionByLanguage" data-ajax="true"
		  data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
				  asp-action="SolutionByProgramUrlLangaugeUrl" asp-controller="ProgramPage">
					@Html.AntiForgeryToken()
					<input type="hidden" name="LanguageUrl" value="@item.LanguageUrl" />
					<input type="submit" class="nav-link" value="@item.ProgrammingLangaugeName" />
					
					
				</form>
				@*<a class="nav-link" asp-route-LanguageUrl="@item.LanguageUrl" asp-action="SolutionByProgramUrlLangaugeUrl" asp-controller="ProgramPage" data-bs-toggle="tab">@item.ProgrammingLangaugeName</a>
				<input type="hidden" name="LanguageUrl" value="@item.LanguageUrl" />*@
			</li>
		}		
	</ul>
	<div id="solutionByLanguage"></div>
	
</div>