@model ProgrammingCode.Areas.PRO_ProgramTestCase.Models.PRO_ProgramTestCaseModel
<style>
    #editor {
        width: 100%;
        height: 300px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>
<div class="modal-header">
    <h4 class="modal-title">@ViewBag.Action Page</h4>
    <button type="button" class="btn btn-danger btn-elevate btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body">
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-area="PRO_ProgramTestCase" asp-action="_Save" asp-controller="PRO_ProgramTestCase">
          
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProgramTestCaseID)
        <div class="form-group row">
            <label class="required col-md-4 col-form-label p-4 "> Program </label>
            <div class="col-md-5">

               
                 @Html.DropDownList("ProgramID", new SelectList(ViewBag.ProgramcomboList,"ProgramID","Defination"), "select Program",  new {@class="form-select form-select-sm "})
               
                @Html.ValidationMessageFor(m => m.ProgramID, "", new { @class = "form-text text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-md-4 col-form-label ">Test Case Description</label>
            <div class="col-md-5">
                @*@Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder="Enter Category Name"})*@
                <textarea id="editor" asp-for="TastCaseDescription" class="form-control" placeholder="Test Case Description"></textarea>
                @Html.ValidationMessageFor(m => m.TastCaseDescription, "", new { @class = "form-text text-danger" })
            </div>
        </div>
         <div class="form-group row">
            <label class="required col-md-4 col-form-label">IS Positive</label>
            <div class="col-md-5">
                <input type="radio" asp-for="IsPositive" value="1" /><label>Positive</label>
                <input type="radio" asp-for="IsPositive" value="0" /><label>Nagative</label>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4 ">Sequence</label>
            <div class="col-md-5">

                <input type="text" asp-for="Sequence" class="form-control" placeholder="Enter  Sequence">
          
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4 ">Description</label>
            <div class="col-md-5">

                <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
               
            </div>
        </div>
        
      
       
        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>

        </form>

</div>
<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>