@model ProgrammingCode.Areas.PRO_ProgramTestCase.Models.PRO_ProgramTestCaseModel
@{
    ViewBag.Header = "Program TestCase -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}
<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Program Test Case</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Program Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="PRO_ProgramTestCase" asp-action="_Save" asp-controller="PRO_ProgramTestCase">
                  
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProgramTestCaseID)
        <div class="form-group row">
            <label class="required col-md-4 col-form-label p-4 "> Program </label>
            <div class="col-md-5">

               
                 @Html.DropDownList("ProgramID", new SelectList(ViewBag.ProgramcomboList,"ProgramID","Defination"), "select Program",  new {@class="form-select form-select-sm "})
               
                @Html.ValidationMessageFor(m => m.ProgramID, "", new { @class = "form-text text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="required col-md-4 col-form-label ">Test Case Description</label>
            <div class="col-md-6">
                <textarea id="editor_data" asp-for="TastCaseDescription" class="form-control" placeholder="Test Case Description"></textarea>
                @Html.ValidationMessageFor(m => m.TastCaseDescription, "", new { @class = "form-text text-danger" })
            </div>
        </div>
         <div class="form-group row">
            <label class="required col-md-4 col-form-label">IS Positive</label>
            <div class="col-md-5">
                <input type="radio" asp-for="IsPositive" value="1" /><label>Positive</label>
                <input type="radio" asp-for="IsPositive" value="0" /><label>Nagative</label>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4 ">Sequence</label>
            <div class="col-md-5">

                <input type="text" asp-for="Sequence" class="form-control" placeholder="Enter  Sequence">
          
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4 ">Description</label>
            <div class="col-md-5">

                <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
               
            </div>
        </div>      
        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
            </form>
        </div>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.21.0/standard-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor_data', {

       
        removeButtons: 'PasteFromWord'
    });
</script>