@{
    var pagerModel = ViewBag.PagerModel as ProgrammingCode.BAL.PagedListPagerModel;
}<br/>
<br/>
<div class="row">
    <div class="col-md-12">
        <!-- pager -->
        <script>
            console.log(@pagerModel.EndPageNo)
        </script>
        @if (pagerModel.EndPageNo >= 1)
        {
            <div class="btn-group btn-group-sm">
                <script>console.log(@pagerModel.CurrentPageNo)</script>
                @if (pagerModel.CurrentPageNo > 1)
                {
                    <form id="filterForm2" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-area="PRO_ProgramTestCase" asp-action="_SearchResult" asp-controller="PRO_ProgramTestCase" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="" />
                        <button type="submit" class="pager-item btn btn-primary g-py-4 ">
                            <i class="la la-angle-double-left pt-3"></i>
                        </button>
                    </form>
                    <form id="filterForm2" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-area="PRO_ProgramTestCase" asp-action="_SearchResult" asp-controller="PRO_ProgramTestCase" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@(pagerModel.CurrentPageNo-1)" />
                        <button type="submit" class="pager-item btn g-py-4 "     >
                            <i class="la la-angle-left pt-3"></i>
                        </button>
                    </form>
                    
                }


                @for (int pageNo = pagerModel.StartPageNo; pageNo <= pagerModel.EndPageNo; pageNo++)
                {

                    <form id="filterForm2" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-area="PRO_ProgramTestCase" asp-action="_SearchResult" asp-controller="PRO_ProgramTestCase" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@pageNo" />
                        <button type="submit" class="pager-item btn g-py-4 @(pageNo == pagerModel.CurrentPageNo ? " btn-brand" : "btn-secondary" )"
                           >
                            @pageNo
                        </button>
                    </form>
                }

                @if (pagerModel.CurrentPageNo < pagerModel.TotalPages)
                {
                    <form id="filterForm2" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-area="PRO_ProgramTestCase" asp-action="_SearchResult" asp-controller="PRO_ProgramTestCase" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@(pagerModel.CurrentPageNo+1)" />
                        <button type="submit" class="pager-item btn g-py-4 ">
                            <i class="la la-angle-right pt-3"></i>
                        </button>
                    </form>
                    <form id="filterForm2" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-area="PRO_ProgramTestCase" asp-action="_SearchResult" asp-controller="PRO_ProgramTestCase" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@pagerModel.TotalPages" />
                        <button type="submit" class="pager-item btn g-py-4 ">
                            <i class="la la-angle-double-right pt-3"></i>
                        </button>
                    </form>
                }
            </div>
        }
    </div>
</div>