@model ProgrammingCode.Areas.SEC_User.Models.SEC_UserModel                       
<div class="modal-header">
    <h4 class="modal-title">@ViewBag.Action Page</h4>
    <button type="button" class="btn btn-danger btn-elevate btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
</div>

<div class="modal-body">
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-area="SEC_User" asp-action="_Save" asp-controller="SEC_User">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserID) 

        <div class="required form-group row">
            <label class="col-md-4 col-form-label ">User Name</label>
            <div class="col-md-5">
                @*@Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder="Enter Category Name"})*@
                <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User" />
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "form-text text-danger" })
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-4 col-form-label p-4 "> Password</label>
            <div class="col-md-5">
                
                <text type="password" asp-for="Password" class="form-control" placeholder="Enter Password"></text>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-text text-danger" })
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-4 col-form-label p-4 "> Email</label>
            <div class="col-md-5">

                <textarea type="text" asp-for="Email" class="form-control" placeholder="Enter Email	"></textarea>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-text text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4">Mobile no</label>
            <div class="col-md-5">
                <textarea type="text" asp-for="MobileNo" class="form-control" placeholder="Enter MobileNo"></textarea>
                @Html.ValidationMessageFor(m => m.MobileNo , "", new { @class = "form-text text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4 pt-1"> DisplayName  </label>
            <div class="col-md-5">

                <input type="text" asp-for="DisplayName" class="form-control" placeholder="DisplayName   " />
                @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "form-text text-danger" })
            </div>
        </div>
  
        <div class="form-group row">
            <label class="col-md-4 col-form-label p-4"> Description</label>
            <div class="col-md-5">

                <textarea type="text" asp-for="Description" class="form-control" ></textarea>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "form-text text-danger" })
            </div>
        </div>
  @*<div class="form-group row">
            <label class="col-md-4 col-form-label"> UserID</label>
            <div class="col-md-5">

                <input type="text" asp-for="UserID" class="form-control" />
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "form-text text-danger" })
            </div>
        </div>*@
        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>