@model ProgrammingCode.Areas.SEC_User.Models.SEC_UserModel



<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action User</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="modal-body">
        <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-area="SEC_User" asp-action="_Save" asp-controller="SEC_User">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserID)

            <div class="form-row">
                <!-- User Name -->
                <div class="form-group col-md-6">
                    <label class="required">User Name</label>
                    <input type="text" asp-for="UserName" class="form-control" placeholder="Enter User" autofocus />
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>

                <!-- Password -->
                <div class="form-group col-md-6">
                    <label class="required">Password</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <!-- Email -->
                <div class="form-group col-md-6">
                    <label class="required">Email</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email" />
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <!-- Mobile No -->
                <div class="form-group col-md-6">
                    <label>Mobile No</label>
                    <input type="text" asp-for="MobileNo" class="form-control" placeholder="Enter MobileNo" />
                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <!-- Display Name -->
                <div class="form-group col-md-6">
                    <label>Display Name</label>
                    <input type="text" asp-for="DisplayName" class="form-control" placeholder="Display Name" />
                    @Html.ValidationMessageFor(m => m.DisplayName, "", new { @class = "text-danger" })
                </div>

                <!-- Description -->
                <div class="form-group col-md-6">
                    <label>Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr class="form-button-divider" />

            <div class="form-row">
                <div class="col-md-6 offset-md-6">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                    <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

