@using System.Net;
@using Microsoft.AspNetCore.Html
@model List<ProgrammingCode.DAL.PRO.PRO_Program.SelectForSearch_Result>

<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title ">
           Search Result
            
        </h3>
        <div class="card-toolbar">

            <a class="btn btn-sm btn-success js-stkModal-btn ms-1"
               asp-area="PRO_Program" asp-action="AddEdit" asp-controller="PRO_Program">
                <i class="la la-plus"></i> Add New
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="secondery table-bordered responsive table-hover" id="tblList" cellspacing="0" width="100%">
            <thead class="bg-gray-300 " >
                <tr>

                    <th class="text-center">Actions</th>
                    <th class="text-center">ProgramNumber </th>
                    <th class="text-center">Defination </th>
                    <th class="text-center">Sequence</th>
                                 
                    
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td class="text-center">

                            <span data-bs-toggle="tooltip" data-bs-placement="left" title="Edit">
                                <a class="btn btn-primary btn-icon btn-elevate btn-sm js-btn"
                               asp-route-ProgramID="@item.ProgramID" asp-area="PRO_Program" asp-action="AddEdit" asp-controller="PRO_Program">
                                    <i class="la la-edit"></i>
                                    <input type="hidden" name="ProgramID" value="@item.ProgramID" />
                                </a>
                            </span>

                            <form id="formDelete_UMS" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                                  data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
                              asp-area="PRO_Program" asp-action="_Delete" asp-controller="PRO_Program" style="display: inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ProgramID" value="@item.ProgramID" />
                                <a class="btn btn-danger btn-icon btn-elevate btn-sm js-bb-confirm-delete" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete"><i class="la la-trash"></i></a>
                            </form>
                        </td>
                 
                        <td class="text-center">@item.ProgramNumber</td>
                        <td class="pl-2 ">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</td>
                        <td class="pl-2 text-center">@item.Sequence</td>
          
                       
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center">
            <partial name="/Areas/PRO_Program/Views/PRO_Program/SelectForPage.cshtml" />
        </div>
    </div>
</div>