@model ProgrammingCode.Areas.PRO_Program.Models.PRO_ProgramModel
@{
    ViewBag.Header = "Program -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}
<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Program</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Program Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="PRO_Program" asp-action="_Save" asp-controller="PRO_Program">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgramID)
                <div class="form-group row">
                    <div class="col-md-4">

                        <label class="required col-md-4 col-form-label"> Program Number</label>

                        <input type="number"  asp-for="ProgramNumber" class="form-control" placeholder="Enter Program Number" required>
                        @Html.ValidationMessageFor(m => m.ProgramNumber, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4">
                    <label class=" required  col-md-4 col-form-label "> Level</label>
              
                        @Html.DropDownList("LevelID", new SelectList(ViewBag.LevelcomboList,"LevelID","LevelName"), "select Level",  new {@class="form-select form-select-sm "})
               
                        @Html.ValidationMessageFor(m => m.LevelID, "", new { @class = "form-text text-danger" })
                    </div>
                     @if (Model != null && Model.ProgramID != 0)
                    {
                        var preselectedTopicIDs = ViewBag.PreselectedTopicIDs as List<int>;
                        Model.arrtopic = preselectedTopicIDs.ToArray();
                    }
                  
                 
                    <div class="col-md-4">
                        <label class="required col-md-4 col-form-label">Topic</label>
                        @Html.ListBoxFor(
                        m => m.arrtopic,
                        new SelectList(ViewBag.topiccomboList, "TopicID", "TopicName"),
                        new
                        {
                        @class = "form-select form-select-sm select2-accessible",
                        data_control = "select2",
                        data_placeholder = "Select Topic",
                        data_allow_clear = "true",
                        multiple = "multiple",
                        data_select2_id = "select2-data-12-kpd1",
                        tabindex = "-1",
                        aria_hidden = "true",
                        
                        }
                        )
                       @* <select class="form-select select2-hidden-accessible"
                                data-control="select2" data-placeholder="Select Topic"
                                data-allow-clear="true" multiple="" id="myDropdown"
                                data-select2-id="select2-data-12-kpd1" tabindex="-1" asp-for="topics_Selected"
                                aria-hidden="true" asp-items="@(new SelectList(ViewBag.topiccomboList,"TopicID","TopicName"))">           
                        </select>*@
                    </div>
                  
                </div>
   
                <div class=" form-group row">
                    <div class="col-md-12">
                    <label class="required col-md-4 col-form-label"> Defination</label>
                  
                        <textarea id="editor" name="Defination" asp-for="Defination" class="form-control" placeholder="Enter Defination" autofocus"></textarea>
                        @Html.ValidationMessageFor(m => m.Defination, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
          
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-md-4 col-form-label"> Program Description</label>
                  <textarea type="text" id="editor3" asp-for="ProgramDesecription" class="form-control" placeholder="Enter Program Description"></textarea>
                        @Html.ValidationMessageFor(m => m.ProgramDesecription , "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-md-4 col-form-label"> Algoritham  </label>
                  
                        <textarea id="editor2" asp-for="Algoritham" class="form-control" placeholder="Algoritham"></textarea>
                        @Html.ValidationMessageFor(m => m.Algoritham, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                   
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Sequence</label>
                       
                    <input type="number" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
                        @Html.ValidationMessageFor(m => m.Sequence, "", new { @class = "form-text text-danger" })
                       
                    </div>
                    <div class="col-md-8">
                        <label class="required col-md-4 col-form-label"> Program url  </label>
                        <input type="text" name="ProgramUrl" asp-for="ProgramUrl" class="form-control" placeholder="ProgramUrl   " />
                        @Html.ValidationMessageFor(m => m.ProgramUrl, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-md-4 col-form-label"> Description</label>
                  <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter Detailed Description"></textarea>
                      
                    </div>
                </div>


                <div class="model-header">
                    <h5 class="modal-title"> Meta Detail</h5>

                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="required col-form-label">Meta Title</label>
                        <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Meta Title" />
                        @Html.ValidationMessageFor(m => m.MetaTitle, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Meta Keywords</label>
                        <input type="text" asp-for="MetaKeywords" class="form-control" placeholder="Meta Keywords" />
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label" placeholder="Meta Author">Meta Author</label>
                        <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Meta Author" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Description</label>
                        <textarea type="text" asp-for="MetaDescription" class="form-control" placeholder="Meta Decription"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class=" col-form-label" placeholder="Meta Og Title">Meta Og Image</label>
                        <input type="file" asp-for="File2" class="form-control" placeholder="uplod Og Image" />

                        @if (Model != null && Model.ProgramID != 0)
                        {
                            if (!string.IsNullOrEmpty(Model.MetaOgImage))
                            {
                                <div>
                                    <a href="@Url.Content(Model.MetaOgImage)" class="btn btn-sm btn-primary mt-2" download>Download Old</a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og Title</label>
                        <input type="text" asp-for="MetaOgTitle" class="form-control" placeholder="Meta Og Type" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og type</label>
                        <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Meta Og Type" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label">Meta Og Url</label>
                        <input type="text" asp-for="MetaOgUrl" class="form-control" placeholder="Meta Og Url" />
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label">Meta Og Description</label>
                            <textarea type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Meta Og Description"></textarea>
                        </div>
                    </div>
                </div>


                @*<div class="form-group row">
                <label class="col-md-4 col-form-label"> UserID</label>
                <div class="col-md-5">

                <input type="text" asp-for="UserID" class="form-control" />
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "form-text text-danger" })
                </div>
                </div>*@
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" onclick="addtopic()" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18'></script>
<script src="https://cdn.ckeditor.com/4.21.0/standard-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor', {
        height: 260,
        removeButtons: 'PasteFromWord'
    });

    CKEDITOR.instances.editor.on('change', function () {
        // Get the value from the CKEditor instance and decode HTML entities
        var value = CKEDITOR.instances.editor.getData().replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"').replace(/&#39;/g, "'");

        // Remove HTML tags
        var strippedValue = value.replace(/<[^>]*>/g, '');

        // Replace spaces with hyphens ("-")
        var updatedValue = strippedValue.replace(/[^\w\s-]/g, '').replace(/\s+/g, '-').trim();
        updatedValue = updatedValue.toLowerCase();

        // Update the value of the ProgramUrl field
        document.querySelector('input[name="ProgramUrl"]').value = updatedValue;
    });
</script>
<script>
    CKEDITOR.replace('editor2', {
        height: 260,


        removeButtons: 'PasteFromWord'
    });
</script>
<script>
    CKEDITOR.replace('editor3', {
        height: 260,

        removeButtons: 'PasteFromWord'
    });
</script>

<script>
    CKEDITOR.replace('editor1', {
        height: 260,

        removeButtons: 'PasteFromWord'
    });
</script>