@model ProgrammingCode.Areas.PRO_Program.Models.PRO_ProgramModel
@{
    ViewBag.Header = "Program -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}
<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Program</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Program Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="PRO_Program" asp-action="_Save" asp-controller="PRO_Program">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgramID)

             

                <div class="form-group row">
                    <div class="col-md-4">

                        <label class="required col-md-4 col-form-label"> Program Number</label>

                        <input type="text" asp-for="ProgramNumber" class="form-control" placeholder="Enter Program Number">
                        @Html.ValidationMessageFor(m => m.ProgramNumber, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4">
                    <label class=" required  col-md-4 col-form-label "> Level</label>
              
                        @Html.DropDownList("LevelID", new SelectList(ViewBag.LevelcomboList,"LevelID","LevelName"), "select Level",  new {@class="form-select form-select-sm "})
               
                        @Html.ValidationMessageFor(m => m.LevelID, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label class="required col-md-4 col-form-label">Topic</label>
                        @Html.ListBoxFor(m => m.arrtopic, new SelectList(ViewBag.topiccomboList,"TopicID","TopicName"),  new {@class="form-select form-select-sm "})
                       @* <select class="form-select select2-hidden-accessible"
                                data-control="select2" data-placeholder="Select Topic"
                                data-allow-clear="true" multiple="" id="myDropdown"
                                data-select2-id="select2-data-12-kpd1" tabindex="-1" asp-for="topics_Selected"
                                aria-hidden="true" asp-items="@(new SelectList(ViewBag.topiccomboList,"TopicID","TopicName"))">           
                        </select>*@
                    </div>
                  
                </div>
   
                <div class=" form-group row">
                    <div class="col-md-12">
                    <label class="required col-md-4 col-form-label"> Defination</label>
                  
                        <textarea id="editor" asp-for="Defination" class="form-control" placeholder="Enter Defination" autofocus"></textarea>
                        @Html.ValidationMessageFor(m => m.Defination, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
          
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-md-4 col-form-label"> Program Description</label>
                  <textarea type="text" id="editor3" asp-for="ProgramDesecription" class="form-control" placeholder="Enter Program Description"></textarea>
                        @Html.ValidationMessageFor(m => m.ProgramDesecription , "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-md-4 col-form-label"> Algoritham  </label>
                  
                        <textarea id="editor2" asp-for="Algoritham" class="form-control" placeholder="Algoritham"></textarea>
                        @Html.ValidationMessageFor(m => m.Algoritham, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                   
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Sequence</label>

                    <input type="text" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
                       
                    </div>
                    <div class="col-md-8">
                        <label class="required col-md-4 col-form-label"> Program url  </label>
                        <input type="text" asp-for="ProgramUrl" class="form-control" placeholder="ProgramUrl   " />
                        @Html.ValidationMessageFor(m => m.ProgramUrl, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-md-4 col-form-label"> Description</label>
                  <textarea type="text" id="editor3" asp-for="Description" class="form-control" placeholder="Enter Detailed Description"></textarea>
                      
                    </div>
                </div>


                <div class="model-header">
                    <h5 class="modal-title"> Meta Detail</h5>

                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="required col-form-label">Meta Title</label>
                        <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Meta Title" />
                        @Html.ValidationMessageFor(m => m.MetaTitle, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Meta Keywords</label>
                        <input type="text" asp-for="MetaKeywords" class="form-control" placeholder="Meta Keywords" />
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label" placeholder="Meta Author">Meta Author</label>
                        <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Meta Author" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Description</label>
                        <textarea type="text" asp-for="MetaDescription" class="form-control" placeholder="Meta Decription"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class=" col-form-label" placeholder="Meta Og Title">Meta Og Image</label>
                        <input type="file" asp-for="File2" class="form-control" placeholder="uplod Og Image" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og Title</label>
                        <input type="text" asp-for="MetaOgTitle" class="form-control" placeholder="Meta Og Type" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og type</label>
                        <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Meta Og Type" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label">Meta Og Url</label>
                        <input type="text" asp-for="MetaOgUrl" class="form-control" placeholder="Meta Og Url" />
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label">Meta Og Description</label>
                            <textarea type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Meta Og Description"></textarea>
                        </div>
                    </div>
                </div>


                @*<div class="form-group row">
                <label class="col-md-4 col-form-label"> UserID</label>
                <div class="col-md-5">

                <input type="text" asp-for="UserID" class="form-control" />
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "form-text text-danger" })
                </div>
                </div>*@
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" onclick="addtopic()" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    function onSubmit() {
        // Get the selected options from the dropdown list
        var selectedOptions = document.getElementsById('myDropdown')[0].selectedOptions;

        // Create an empty array to store the selected values
        var myArray = [];

        // Loop through the selected options and add their values to the array
        for (var i = 0; i < selectedOptions.length; i++) {
            myArray.push(selectedOptions[i].value);
        }

        // Set the value of the hidden input field to the selected values as a JSON string
        document.getElementById('myArray').value = JSON.stringify(myArray);

        // Submit the form
    }
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor2'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor3'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>