@model ProgrammingCode.Areas.PRO_Program.Models.PRO_ProgramModel
@{
    ViewBag.Header = "Program -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}
<style>
    #editor {
        width: 100%;
        height: 300px;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>


<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Program</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Program Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="PRO_Program" asp-action="_Save" asp-controller="PRO_Program">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgramID)

             

                <div class="form-group row">
                    <label class=" required  col-md-4 col-form-label "> Level</label>
                    <div class="col-md-5">

                        <select class="form-select mb-2 select2-hidden-accessible"
                                data-control="select2" data-hide-search="true"   
                                id="kt_ecommerce_add_product_store_template"
                                data-select2-id="select2-data-kt_ecommerce_add_product_store_template"
                                tabindex="-1" aria-hidden="true" asp-for="LevelID" asp-items="@(new SelectList(ViewBag.levelcomboList,"LevelID","LevelName"))" data-control="select2" data-placeholder="Select Level" autofocus>
                            <option>select Level</option>

                        </select>
                        @Html.ValidationMessageFor(m => m.LevelID, "", new { @class = "form-text text-danger" })
                    </div>

                </div>
                <div class="form-group row">
                    <label class="required col-md-4 col-form-label">Topic</label>
                    <div class="col-md-5">
													<select class="form-select  mb-2 select2-hidden-accessible"
														data-control="select2" data-placeholder="Select Topic"
														data-allow-clear="true" multiple=""
														data-select2-id="select2-data-12-kpd1" tabindex="-1"
														aria-hidden="true">
                            <option>select Topic</option>
														<option data-select2-id="select2-data-145-fc7n" class="">
														</option>
														<option value="Computers"
															data-select2-id="select2-data-146-oeuf">IF
															else</option>
														<option value="Watches" data-select2-id="select2-data-147-slnj">
															loop
														</option>
														<option value="Headphones"
															data-select2-id="select2-data-148-n5vw">Stack
														</option>
														<option value="Footwear"
															data-select2-id="select2-data-149-fwwg">Lists
														</option>
														<option value="Cameras" data-select2-id="select2-data-150-dvke">
															Quqeue
														</option>
														<option value="Shirts" data-select2-id="select2-data-151-30c3">
															Tree
														</option>
														<option value="Household"
															data-select2-id="select2-data-152-2ikt">
															hashing</option>
													</select>
                                                    </div>

                </div>
                <div class=" form-group row">
                    <label class="required col-md-4 col-form-label p-4 "> Defination</label>
                    <div class="col-md-5">
                        <textarea id="editor" asp-for="Defination" class="form-control" placeholder="Enter Defination" autofocus"></textarea>
                        @Html.ValidationMessageFor(m => m.Defination, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4 "> Program Number</label>
                    <div class="col-md-5">

                        <textarea type="text" asp-for="ProgramNumber" class="form-control" placeholder="Enter Program Number"></textarea>
                        @Html.ValidationMessageFor(m => m.ProgramNumber, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4"> Program Description</label>
                    <div class="col-md-5">
                        <textarea type="text" asp-for="ProgramDesecription" class="form-control" placeholder="Enter Program Description"></textarea>
                        @Html.ValidationMessageFor(m => m.ProgramDesecription , "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4 pt-1"> Algoritham  </label>
                    <div class="col-md-5">
                        <textarea id="editor2" asp-for="Algoritham" class="form-control" placeholder="Algoritham"></textarea>
                        @Html.ValidationMessageFor(m => m.Algoritham, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4 pt-1"> Program url  </label>
                    <div class="col-md-5">

                        <input type="text" asp-for="ProgramUrl" class="form-control" placeholder="ProgramUrl   " />
                        @Html.ValidationMessageFor(m => m.ProgramUrl, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4">Sequence</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
                        @Html.ValidationMessageFor(m => m.Sequence, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4"> Description</label>
                    <div class="col-md-5">

                        <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter Detailed Description"></textarea>
                      
                    </div>
                </div>

               
                <h4 class="title text-danger fw-bolder">Meta Details</h4>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4">Meta Title</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Meta Title" />
                        
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4 ">Meta Keywords</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaKeywords" class="form-control" placeholder="Meta Keywords"/>
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4">Meta Description</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaDescription" class="form-control" placeholder="Meta Decription" />
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4" placeholder="Meta Author">Meta Author</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Meta Author" />
                       
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4" placeholder="Meta Og Title">Meta Og Image</label>
                    <div class="col-md-5">

                            <input type="file" asp-for="File2" class="form-control" placeholder="uplod Og Image " />
                       
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4">Meta Og Description</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Meta Og Description" />
                    
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4">Meta Og Url</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaOgUrl" class="form-control" placeholder="Meta Og Url" />
                        
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4">Meta Og type</label>
                    <div class="col-md-5">

                        <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Meta Og Type" />
                       
                    </div>
                </div>
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-form-submit" />
                        <button type="button" class="btn btn-light btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor2'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>