@model ProgrammingCode.Areas.MST_Level.Models.MST_LevelModel
<div class="modal-header">
    <h4 class="modal-title">@ViewBag.Action Page</h4>
    <button type="button" class="btn btn-danger btn-elevate btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
</div>

<div class=" modal-body">
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-area="MST_Level" asp-action="_Save" asp-controller="MST_Level">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.LevelID) 

        <div class=" form-group row">
            
            <div class="col-md-6">
                <label class="required  col-form-label ">Level Name</label>
                @*@Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder="Enter Category Name"})*@
                <input type="text" asp-for="LevelName" class="form-control" placeholder="Enter Level Name" autofocus/>
                @Html.ValidationMessageFor(m => m.LevelName, "", new { @class = "form-text text-danger" })
            </div>
            <div class="col-md-6">
                <label class="col-form-label">Sequence</label>
                <input type="text" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
               
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-form-label"> Level Description</label>
                <textarea  id="editro1" asp-for="LevelDescription" class="form-control" placeholder="Enter Level Description"></textarea>
                @Html.ValidationMessageFor(m => m.LevelDescription, "", new { @class = "form-text text-danger" })
            </div>
        </div>
      
        <div class="form-group row">
            <div class="col-md-12">
            <label class="col-form-label "> Description</label>
               <textarea  id="editro2" asp-for="Description" class="form-control" ></textarea>
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "form-text text-danger" })
            </div>
        </div>
  @*<div class="form-group row">
            <label class="col-md-4 col-form-label"> UserID</label>
            <div class="col-md-5">

                <input type="text" asp-for="UserID" class="form-control" />
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "form-text text-danger" })
            </div>
        </div>*@
        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor1'))
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor2'))
        .catch(error => {
            console.error(error);
        });
</script>
<script>