@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;

<div class="container">
	<div class="row">
		@foreach (var item in ViewBag.AllLanguages)
		{
			<div class="col-md-4 pt-3">
				<div class="card card-flush">
					<div class="card-header">
						@**@
						<span class="card-title"><img src="@Url.Content(item.ProgrammingLangaugeLogo)" height="30px" width="30px"> <span class="p-1">@item.ProgrammingLangaugeName</span></span>
						@{
							int SolutionCount = DBConfig.dbSolution.SelectSolutionCount(@item.LanguageUrl);
						}

						<div class="card-toolbar">
							@SolutionCount Solutions
						</div>
					</div>
					<div class="card-body dta dta-sm">
						@Html.Raw(WebUtility.HtmlDecode(item.ProgrammingLangaugeShortDescription.Length > 200 ? item.ProgrammingLangaugeShortDescription.Substring(0, 200) + "....." : item.ProgrammingLangaugeShortDescription))
					</div>
					<div class="card-footer">
						<div class="card-toolbar">
							@*<button type="button" class="">*@
							@*<a class="btn btn-sm btnbg"
						asp-route-LanguageUrl="@item.LanguageUrl" asp-action="LanguageDetails" asp-controller="ClientPanel">*@
							<a class="btn btn-sm btnbg"
							   href="@item.LanguageUrl">
								Visit Langauge
								<input type="hidden" name="LanguageUrl" value="@item.LanguageUrl" />
							</a>
							@*</button>*@
						</div>
					</div>

				</div>
			</div>
		}
	</div>

</div>

