@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;
@*@model List<ProgrammingCode.DAL.PRO.PRO_Program.SelectAll_Result>
@{
	var ProgramList = Model;
}*@
@{
    ViewData["MetaTitle"] = "ProgrammingCode Programs";
    ViewData["MetaKeywords"] = "ProgrammingCode Programs";
    ViewData["MetaDescription"] = "ProgrammingCode Programs";
    ViewData["MetaAuthor"] = "ProgrammingCode Programs";
    ViewData["MetaOgTitle"] = "ProgrammingCode Programs";
    ViewData["MetaOgImage"] = "ProgrammingCode Programs";
    ViewData["MetaOgDescription"] = "ProgrammingCode Programs";
    ViewData["MetaOgUrl"] = "ProgrammingCode Programs";
    ViewData["MetaOgType"] = "ProgrammingCode Programs";
}


<div class="container-fluid">
    <div class="row">
        <div class="container col-md-9">
<div class="container ctr">


    <div class="row">
        
            @if(ViewBag.TopicUrl==null)
            {
                        <div class="col-md-12 ttl">
                            All Programs
                        </div>
                    }
                    else
                    {
                        @foreach (var item in ViewBag.TopicDetails)
                        {
                            <div class="col-md-12 ttl">
                                @item.TopicName Related Programs
                            </div>
                        }
                    }
                    <div id="ProgramList"></div>
                    </div>
                <div class="col-md-12" style="text-align:center">
                    <partial name="/Views/ClientPanel/AllProgram_GeneratePager.cshtml" />
                </div>
</div>
<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
            Top Peforming Programs
        </div>

        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int l = 0;
                            }
                            @foreach (var item in ViewBag.TopProgramNavList)
                            {

                                l++;
                                <tr>
                                    <span class="row">
                                        <span class="col-md-12">
                                    <td>@l</td>
                                    <td>
                                        <div class="">
                                            <a class="ProgramLink" href="/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        </div>
                                        <span class="row">
                                            <span class="col-2">
                                                        @if (@item.LevelName == "Hard")
                                                        {
                                                    <div class="col-3 "><span class="badge badge-danger">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "Easy")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-primary">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "School")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-dark">@item.LevelName</span></div>
                                                        }
                                                        else
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-warning">@item.LevelName</span></div>
                                                        }
                                                        @{
                                                            ViewBag.TopicOnProgramUrl = DBConfig.dbTopic.SelectAllByProgramUrl(@item.ProgramUrl);
                                                        }
                                            </span>

                                                    @* <span class="col-2">
                                        <i class="fa fa-eye"></i>@item.ProgramView
                                        </span>*@


                                        </span>
                                    </td>


                                    <td></td>
                                    </span>
                                    </span>
                                </tr>



                            }
                        </tbody>

                    </table>

                </div>

            </div>
        </Div>
    </div>
</div>
</div>
        <div class="container col-md-3">



            <div class="container ctr">
                <div class="row">
                    <div class="ttl">
                       Topic
                    </div>

                    <Div class="row">
                        <div class="py-5">
                            <div class="table-responsive">
                                @* <div style="height: 200px; overflow-y: scroll;">*@
                                <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                                    <tbody>
                                        <tr>
                                            <td>
                                                @if (ViewBag.TopicUrl==null)
                                                {
                                                        <a class="ProgramLink" style="color:rgb(47, 163, 61)" href="/Programs">All Programs <i class="fa fa-check-circle" style="color:rgb(47, 163, 61)" aria-hidden="true"></i></a>
                                                }
                                                else
                                                {
                                                    <a class="ProgramLink" href="/Programs/">All Programs </a>
                                                }

                                            </td>
                                        </tr>
                                        @foreach (var item in ViewBag.TopicList)
                                        {


                                            <tr >


                                                @if (ViewBag.TopicUrl == @item.TopicUrl)
                                                {
                                                    <td>
                                                        <a class="ProgramLink" style="color:rgb(47, 163, 61)"  href="/Programs/@item.TopicUrl">@item.TopicName <i class="fa fa-check-circle" style="color:rgb(47, 163, 61)" aria-hidden="true"></i></a>
                                                    </td>
                                                }
                                   
                                                else
                                                {
                                                    <td>
                                                        <a class="ProgramLink" href="/Programs/@item.TopicUrl">@item.TopicName</a>
                                                    </td>
                                                }



                                            </tr>
                                        }
                                    </tbody>

                                </table>
                                @*</div>*@

                            </div>

                        </div>
                    </Div>
                </div>
            </div>

        </div>

    </div>
</div></div>

@section scripts {
   
    <script>
        $(document).ready(function () {
            $("#List").submit();
        });

        function initDataTable(tableSelector) {
            $(tableSelector).DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "order": [],
                //"scroller": true,
                //"stateSave": true,
                "scrollX": true
            });
        }

        function OnSuccess(formID) {
            if (formID === "List") {
                initDataTable("#answer");
            }

            if (formID === "formAdd_UMS") {
            }


            if (formID === "formEdit_UMS") {
            }

            if (formID === "formAddEditSave_UMS") {
                $("#Solution").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID === "formAddEditMultiSave_UMS") {
                $("#Solution").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID === "formDelete_UMS") {
                $("#Solution").submit();
                toastr.success("Record deleted successfully..!");
            }
        }
    </script>
}