@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;
@*@model List<ProgrammingCode.DAL.PRO.PRO_Program.SelectAll_Result>
@{
	var ProgramList = Model;
}*@
@{
    ViewData["MetaTitle"] = "ProgrammingCode Programs";
    ViewData["MetaKeywords"] = "ProgrammingCode Programs";
    ViewData["MetaDescription"] = "ProgrammingCode Programs";
    ViewData["MetaAuthor"] = "ProgrammingCode Programs";
    ViewData["MetaOgTitle"] = "ProgrammingCode Programs";
    ViewData["MetaOgImage"] = "ProgrammingCode Programs";
    ViewData["MetaOgDescription"] = "ProgrammingCode Programs";
    ViewData["MetaOgUrl"] = "ProgrammingCode Programs";
    ViewData["MetaOgType"] = "ProgrammingCode Programs";
}



<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
            All Programs
        </div>

        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var item in ViewBag.ProgramNavList)
                            {

                                i++;
                                <tr>
                                    <span class="row">
                                        <span class="col-md-12">
                                    <td>@i</td>
                                    <td>
                                        <div class="">
                                            <a class="ProgramLink" href="/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        </div>
                                        <span class="row">
                                            <span class="col-auto">
                                                        @if (@item.LevelName == "Hard")
                                                        {
                                                    <div class="col-3 "><span class="badge badge-danger">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "Easy")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-primary">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "School")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-dark">@item.LevelName</span></div>
                                                        }
                                                        else
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-warning">@item.LevelName</span></div>
                                                        }
                                                        @{
                                                            ViewBag.TopicOnProgramUrl = DBConfig.dbTopic.SelectAllByProgramUrl(@item.ProgramUrl);
                                                        }
                                            </span>
                                            <span class="col-6">
                                                        @foreach (var item2 in ViewBag.TopicOnProgramUrl)
                                                        {
                                                    <a class="type" href="/Topics/@item2.TopicUrl">
                                                        <span class="badge badge-success"> @item2.TopicName</span>
                                                                @*style="color: rgb(114, 114, 114)"*/*@
                                                        <input type="hidden" name="TopicID" value="@item2.TopicUrl" />
                                                    </a>
                                                        }
                                            </span>
                                                    @*<span class="col-2">
                                        <i class="fa fa-eye"></i>@item.ProgramView
                                        </span>*@


                                        </span>
                                    </td>


                                    <td></td>
                                    </span>
                                    </span>
                                </tr>



                            }
                        </tbody>

                    </table>

                </div>
                <div class="col-md-12" style="text-align:center">
                    <partial name="/Views/ClientPanel/AllProgram_GeneratePager.cshtml" />
                </div>
            </div>
        </Div>
    </div>
</div>
<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
            Top Peforming Programs
        </div>

        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int l = 0;
                            }
                            @foreach (var item in ViewBag.TopProgramNavList)
                            {

                                l++;
                                <tr>
                                    <span class="row">
                                        <span class="col-md-12">
                                    <td>@l</td>
                                    <td>
                                        <div class="">
                                            <a class="ProgramLink" href="/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        </div>
                                        <span class="row">
                                            <span class="col-2">
                                                        @if (@item.LevelName == "Hard")
                                                        {
                                                    <div class="col-3 "><span class="badge badge-danger">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "Easy")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-primary">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "School")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-dark">@item.LevelName</span></div>
                                                        }
                                                        else
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-warning">@item.LevelName</span></div>
                                                        }
                                                        @{
                                                            ViewBag.TopicOnProgramUrl = DBConfig.dbTopic.SelectAllByProgramUrl(@item.ProgramUrl);
                                                        }
                                            </span>

                                                    @* <span class="col-2">
                                        <i class="fa fa-eye"></i>@item.ProgramView
                                        </span>*@


                                        </span>
                                    </td>


                                    <td></td>
                                    </span>
                                    </span>
                                </tr>



                            }
                        </tbody>

                    </table>

                </div>

            </div>
        </Div>
    </div>
</div>
