@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;
@*@model List<ProgrammingCode.DAL.PRO.PRO_Program.SelectAll_Result>
@{
	var ProgramList = Model;
}*@
<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
            All Programs
        </div>

        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int i = 0;
                            }

                            @foreach (var item in ViewBag.ProgramNavList)
                            {
                                i++;
                                <tr class="">
                                    <td>@i</td>
                                    <td>
                                        @*<a class="ProgramLink" asp-route-ProgramUrl="@item.ProgramUrl" asp-action="ProgramDetails" asp-controller="ClientPanel">*@
                                        <a class="ProgramLink" href="/Programs/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        <input type="hidden" name="ProgramUrl" value="@item.ProgramUrl" />
                                    </td>
                                    <td class="hard">@item.LevelName</td>
                                    @{
                                        ViewBag.TopicOnProgramUrl = DBConfig.dbTopic.SelectAllByProgramUrl(@item.ProgramUrl);
                                    }
                                    <td class="type">

                                        @foreach (var item2 in ViewBag.TopicOnProgramUrl)
                                        {

                                            @item2.TopicName

                                            <span><br /> </span>

                                        }


                                    </td>
                                    <td><i class="fa fa-eye"></i>@item.ProgramView</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </Div>
    </div>
</div>
<div class="container ctr">

    <div class="row">
        <div class="col-md-12 ttl" style="margin-bottom: 10px;">
            Top Performing Programs
        </div>
    </div>
    <div class="row">
        <div class="py-5">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                    <tbody>


                        @{
                            int j = 0;
                        }

                        @foreach (var item in ViewBag.TopProgramNavList)
                        {
                            j++;
                            <tr class="">
                                <td>@j</td>
                                <td>
                                    @*<a class="ProgramLink" asp-route-ProgramUrl="@item.ProgramUrl" asp-action="ProgramDetails" asp-controller="ClientPanel">*@
                                    <a class="ProgramLink" href="/Programs/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                    <input type="hidden" name="ProgramUrl" value="@item.ProgramUrl" />
                                </td>
                                <td class="hard">@item.LevelName</td>
                                <td><i class="fa fa-eye"></i>@item.ProgramView</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>