@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;

<div class="container-fluid">
    <div class="row">
        <div class="container col-md-9">
         @*  *@
<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
                        @foreach (var item in ViewBag.LanguageDetails)
                        {
                            <div class="col-md-6 d-flex align-items-center ttl">
                                <img src="@Url.Content(item.ProgrammingLangaugeLogo)" height="40px" width="40px">
                                <span class="p-2">@item.ProgrammingLangaugeName / <span class="dta">All Programs</span></span>
                            </div>
                        }
            
        </div>

        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int i = 0;
                            }
                             @foreach (var item in ViewBag.ProgramList)
                    {

                        i++;
                            <tr>
                               <span class="row">
                               <span class="col-md-12">
                                    <td>@i</td>
                                    <td>
                                        <div class="">
                                            <a class="ProgramLink " href="/@ViewBag.LanguageUrl/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        </div>
                                        <span class="row">
                                            <span class="col-auto">
                                                        @if (@item.LevelName == "Hard")
                                                        {
                                                    <div class="col-3 "><span class="badge badge-danger">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "Easy")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-primary">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "School")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-dark">@item.LevelName</span></div>
                                                        }
                                                        else
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-warning">@item.LevelName</span></div>
                                                        }
                                                        @{
                                                            ViewBag.TopicOnProgramUrl = DBConfig.dbTopic.SelectAllByProgramUrl(@item.ProgramUrl);
                                                        }
                                            </span>
                                            <span class="col-6">
                                                        @foreach (var item2 in ViewBag.TopicOnProgramUrl)
                                                        {
                                                    <a class="type" href="/Topics/@item2.TopicUrl">
                                                        <span class="badge badge-success"> @item2.TopicName</span>
                                                                @*style="color: rgb(114, 114, 114)"*/*@
                                                        <input type="hidden" name="TopicID" value="@item2.TopicUrl" />
                                                    </a>
                                                        }
                                            </span>
                                            @*<span class="col-2">
                                                <i class="fa fa-eye"></i>@item.ProgramView
                                            </span>*@


                                        </span>
                                    </td>


                                    <td></td>
                                    </span>
                                    </span>
                                </tr>
                              
                               
                             
                            }
                        </tbody>
                       
                    </table>
                   
                </div>
                <div class="col-md-12" style="text-align:center">
                    <partial name="/Views/ClientPanel/ProgramByLanguageUrl_Generater.cshtml" />
                </div>
            </div>
        </Div>
    </div>
</div>
<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
            Top Peforming Programs
        </div>

        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int k = 0;
                            }
                            @foreach (var item in ViewBag.TopProgramList)
                            {

                                k++;
                                <tr>
                                    <span class="row">
                                        <span class="col-md-12">
                                    <td>@k</td>
                                    <td>
                                        <div class="">
                                                        <a class="ProgramLink " href="/@ViewBag.LanguageUrl/@item.ProgramUrl/ProgramDetails">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        </div>
                                        <span class="row">
                                            <span class="col-2">
                                                        @if (@item.LevelName == "Hard")
                                                        {
                                                    <div class="col-3 "><span class="badge badge-danger">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "Easy")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-primary">@item.LevelName</span></div>
                                                        }
                                                        else if (@item.LevelName == "School")
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-dark">@item.LevelName</span></div>
                                                        }
                                                        else
                                                        {
                                                    <div class=" col-3 "><span class="badge badge-warning">@item.LevelName</span></div>
                                                        }
                                                        @{
                                                            ViewBag.TopicOnProgramUrl = DBConfig.dbTopic.SelectAllByProgramUrl(@item.ProgramUrl);
                                                        }
                                            </span>
                                            
                                           @* <span class="col-2">
                                                <i class="fa fa-eye"></i>@item.ProgramView
                                            </span>*@


                                        </span>
                                    </td>


                                    <td></td>
                                    </span>
                                    </span>
                                </tr>



                            }
                        </tbody>

                    </table>

                </div>
                
            </div>
        </Div>
    </div>
</div>
</div>
        <div class="container col-md-3">
            <div class="container ctr">
                <div class="row">
                    <div class="ttl">
                        Other Languages
                    </div>

                    <Div class="row">
                        <div class="py-5">
                            <div class="table-responsive">
                                <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                                    <tbody>

                                        @foreach (var item in ViewBag.AllLanguages)
                                        {


                                            <tr class=>


                                                @if (ViewBag.LanguageUrl == item.LanguageUrl)
                                                {
                                                    <td>
                                                        <a class="ProgramLink" href="/@item.LanguageUrl/PN=1">@item.ProgrammingLangaugeName <i class="fa fa-check-circle" style="color:rgb(47, 163, 61)" aria-hidden="true"></i></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a class="ProgramLink" href="/@item.LanguageUrl/PN=1">@item.ProgrammingLangaugeName</a>
                                                    </td>
                                                }



                                            </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>

                        </div>
                    </Div>
                </div>
            </div>
</div>


    </div>

    <div class="row container">
            @foreach (var item in ViewBag.LanguageDetails)
            {
                ViewData["MetaTitle"] = item.MetaTitle;
                ViewData["MetaKeywords"] = item.MetaKeywords;
                ViewData["MetaDescription"] = item.MetaDescription;
                ViewData["MetaAuthor"] = item.MetaAuthor;
                ViewData["MetaOgTitle"] = item.MetaOgTitle;
                ViewData["MetaOgImage"] = item.MetaOgImage;
                ViewData["MetaOgDescription"] = item.MetaOgDescription;
                ViewData["MetaOgUrl"] = item.MetaOgUrl;
                ViewData["MetaOgType"] = item.MetaOgType;
                <div class="container ctr">
                    <div class="row d-flex align-items-center">

                        <div class="col-md-6 d-flex align-items-center ttl">
                            <img src="@Url.Content(item.ProgrammingLangaugeLogo)" height="40px" width="40px">
                            <span class="p-2">@item.ProgrammingLangaugeName</span>
                        </div>

                        <div class="col-md-6 d-flex justify-content-end" style="color: rgb(47, 163, 61); font-size: 16px;">
                            @TempData["SelectSolutionCount"] Solutions
                        </div>


                    </div>
                    <div class="row">
                        <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 dta">
                            @Html.Raw(WebUtility.HtmlDecode(item.ProgrammingLangaugeShortDescription))

                        </div>
                        <div class="col-md-12 dta">
                            @Html.Raw(WebUtility.HtmlDecode(item.ProgrammingLangaugeDetailedDescription))

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    

