@model ProgrammingCode.BAL.PagedListPagerModel;


<div class="row">
    <div class="col-md-12">
        <!-- pager -->
        <script>
            console.log(@Model.EndPageNo)
        </script>
        @if (Model.EndPageNo >= 1)
        {
            <div class="btn-group btn-group-sm">
                <script>console.log(@Model.CurrentPageNo)</script>
                @if (Model.CurrentPageNo > 1)
                {
                    <form id="List3" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ProgramList3"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-action="ProgramListForLanguageDetails" asp-controller="ClientPanel" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="1" />
                        <input type="hidden" name="LanguageUrl" value="@ViewBag.LanguageUrl" />
                        <button type="submit" class="pager-item btn btn g-py-4 ">
                            <i class="la la-angle-double-left pt-3"></i>
                        </button>
                    </form>
                    <form id="List3" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ProgramList3"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-action="ProgramListForLanguageDetails" asp-controller="ClientPanel" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="LanguageUrl" value="@ViewBag.LanguageUrl" />
                        <input type="hidden" name="PN" value="@(Model.CurrentPageNo-1)" />
                        <button type="submit" class="pager-item btn g-py-4 ">
                            <i class="la la-angle-left pt-3"></i>
                        </button>
                    </form>

                }


                @for (int pageNo = Model.StartPageNo; pageNo <= Model.EndPageNo; pageNo++)
                {

                    <form id="List3" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ProgramList3"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-action="ProgramListForLanguageDetails" asp-controller="ClientPanel" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@pageNo" />
                        <input type="hidden" name="LanguageUrl" value="@ViewBag.LanguageUrl" />
                        <button type="submit" class="pager-item btn g-py-4 btn-secondary" )">
                            @pageNo
                        </button>
                    </form>
                }

                @if (Model.CurrentPageNo < Model.TotalPages)
                {
                    <form id="List3" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ProgramList3"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-action="ProgramListForLanguageDetails" asp-controller="ClientPanel" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@(Model.CurrentPageNo+1)" />
                        <input type="hidden" name="LanguageUrl" value="@ViewBag.LanguageUrl" />
                        <button type="submit" class="pager-item btn g-py-4 ">
                            <i class="la la-angle-right pt-3"></i>
                        </button>
                    </form>
                    <form id="List3" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ProgramList3"
                          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);" asp-action="ProgramListForLanguageDetails" asp-controller="ClientPanel" style="display: inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PN" value="@Model.TotalPages" />
                        <input type="hidden" name="LanguageUrl" value="@ViewBag.LanguageUrl" />
                        <button type="submit" class="pager-item btn g-py-4 ">
                            <i class="la la-angle-double-right pt-3"></i>
                        </button>
                    </form>
                }
            </div>
        }
    </div>
</div>