@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;
<div class="container-fluid">
    <div class="row">
        <div class="container col-md-9">
            @foreach (var item in ViewBag.TopicDetails)
            {
                ViewData["MetaTitle"] = item.MetaTitle;
                ViewData["MetaKeywords"] = item.MetaKeywords;
                ViewData["MetaDescription"] = item.MetaDescription;
                ViewData["MetaAuthor"] = item.MetaAuthor;
                ViewData["MetaOgTitle"] = item.MetaOgTitle;
                ViewData["MetaOgImage"] = item.MetaOgImage;
                ViewData["MetaOgDescription"] = item.MetaOgDescription;
                ViewData["MetaOgUrl"] = item.MetaOgUrl;
                ViewData["MetaOgType"] = item.MetaOgType;
                <div class="container ctr">
                    <div class="row">
                        <div class="col-md-6 d-flex ttl">
                            @item.TopicName
                        </div>

                        <div class="col-md-6 d-flex justify-content-end" style="color: rgb(47, 163, 61); font-size: 16px;">
                            @TempData["ProgramCountonTopic"] Programs
                        </div>
                    </div>
                    <div class="row">
                        <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 dta">
                            @Html.Raw(WebUtility.HtmlDecode(item.TopicDescription))
                        </div>
                    </div>

                </div>
            }

            <div class="container ctr">


                <div class="row">
                    @foreach (var item in ViewBag.TopicDetails)
                    {
                        <div class="col-md-12 ttl">
                            @item.TopicName Related Programs
                        </div>
                    }
                    <div id="ProgramList2"></div>
                </div>
                <div class="col-md-12" style="text-align:center">
                    <partial name="/Views/ClientPanel/AllProgramByTopicGeneraterPager.cshtml" />
                </div>
            </div>

        </div>
        <div class="container col-md-3">



            <div class="container ctr">
                <div class="row">
                    <div class="ttl">
                        Topics
                    </div>

                    <Div class="row">
                        <div class="py-5">
                            <div class="table-responsive">
                                 <div style="height: 200px; overflow-y: scroll;">
                                <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                                    <tbody>

                                        @foreach (var item in ViewBag.TopicList)
                                        {


                                            <tr class=>


                                                @if (ViewBag.TopicUrl == @item.TopicUrl)
                                                {
                                                    <td>
                                                            <a class="ProgramLink" style="color:rgb(47, 163, 61)" href="/Topics/@item.TopicUrl">@item.TopicName <i class="fa fa-check-circle" style="color:rgb(47, 163, 61)" aria-hidden="true"></i></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a class="ProgramLink" href="/Topics/@item.TopicUrl">@item.TopicName</a>
                                                    </td>
                                                }



                                            </tr>
                                        }
                                    </tbody>

                                </table>
                                </div>

                            </div>

                        </div>
                    </Div>
                </div>
            </div>
            <div class="container ctr">
                <div class="row">
                    <div class="ttl">
                        Share
                    </div>

                    <Div class="row">
                        <div class="py-5">
                            <div class="table-responsive">

                                <div class="social-sharing-links">
                                    </a>

                                    <button type="button" class="btn btn-success"><a href="#" class="whatsapp" style="padding-top:1"><i class="fab fa-whatsapp"> </i></a></button>
                                    <button type="button" class="btn btn-danger"><a href="#" class="instagram"><i class="fab fa-instagram"> </i></a></button>
                                    <button type="button" class="btn btn-primary"><a href="#" class="facebook"><i class="fab fa-facebook"> </i></a></button>

                                </div>


                            </div>

                        </div>
                    </Div>
                </div>
            </div>

        </div>

    </div>
</div>
@section scripts {
    <script>
        const whatsappLink = document.querySelector(".whatsapp");
        const instagramLink = document.querySelector(".instagram");
        const facebookLink = document.querySelector(".facebook");

        whatsappLink.addEventListener("click", function () {
            window.open("https://api.whatsapp.com/send?text=" + encodeURIComponent(window.location.href));
        });

        instagramLink.addEventListener("click", function () {
            window.open("https://www.instagram.com/share?url=" + encodeURIComponent(window.location.href));
        });

        facebookLink.addEventListener("click", function () {
            window.open("https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(window.location.href));
        });
    </script>


    <script>
        $(document).ready(function () {
            $("#List2").submit();
        });

        function initDataTable(tableSelector) {
            $(tableSelector).DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "order": [],
                //"scroller": true,
                //"stateSave": true,
                "scrollX": true
            });
        }

        function OnSuccess(formID) {
            if (formID === "List2") {
                initDataTable("#answer2");
            }

            if (formID === "formAdd_UMS") {
            }


            if (formID === "formEdit_UMS") {
            }

            if (formID === "formAddEditSave_UMS") {
                $("#Solution").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID === "formAddEditMultiSave_UMS") {
                $("#Solution").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID === "formDelete_UMS") {
                $("#Solution").submit();
                toastr.success("Record deleted successfully..!");
            }
        }
    </script>
}