@using System.Net;
@using Microsoft.AspNetCore.Html
@using ProgrammingCode.DAL;


@foreach (var item in ViewBag.TopicDetails)
{
    <div class="container ctr">
        <div class="row">
            <div class="col-md-6 d-flex ttl">
                @item.TopicName
            </div>
       
        <div class="col-md-6 d-flex justify-content-end" style="color: rgb(47, 163, 61); font-size: 16px;">
            @TempData["ProgramCountonTopic"] Programs
        </div>
        </div>
        <div class="row">
            <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
        </div>

        <div class="row">
            <div class="col-md-12 dta">
                @Html.Raw(WebUtility.HtmlDecode(item.TopicDescription))
            </div>
        </div>

    </div>
}

<div class="container ctr">


    <div class="row">
        <div class="col-md-12 ttl">
            Topic Related Program
        </div>
        <div class="row">
            <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
        </div>
        <Div class="row">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 gy-3 lstrw">
                        <tbody>
                            @{
                                int i = 0;
                            }

                            @foreach (var item in ViewBag.TopicRelatedProgramList)
                            {
                                i++;
                                <tr class="">
                                    <td>@i</td>
                                    <td>
                                        @*<a class="ProgramLink" asp-route-ProgramUrl="@item.ProgramUrl" asp-action="ProgramDetails" asp-controller="ClientPanel">*@
                                       @* <a class="ProgramLink" href="@ViewBag.TopicUrl/Programs/@item.ProgramUrl">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>*@
                                        <a class="ProgramLink" href="/Programs/@item.ProgramUrl">@Html.Raw(WebUtility.HtmlDecode(item.Defination))</a>
                                        <input type="hidden" name="ProgramUrl" value="@item.ProgramUrl" />
                                    </td>
                                    <td class="hard">@item.LevelName</td>
                                  
                                    <td><i class="fa fa-eye"></i>@item.ProgramView</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </Div>
    </div>
</div>