@model ProgrammingCode.Areas.MST_Topic.Models.MST_TopicModel
@{
    ViewBag.Header = "Topic -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}

<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Topic</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Topic Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="MST_Topic" asp-action="_Save" asp-controller="MST_Topic">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.TopicID)
                <div class="form-group row">                    
                    <div class="col-md-6">
                        <label class="required col-form-label">Topic Name</label>
                        <input type="text" id="textOne" asp-for="TopicName" class="form-control" placeholder="Enter Topic Name" autofocus/>
                        @Html.ValidationMessageFor(m => m.TopicName, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Sequence</label>
                        <input type="text" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
                        
                    </div>
                </div>               
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label">Topic Description</label>
                        <textarea type="text" id="editor1" asp-for="TopicDescription" class="form-control" placeholder="Enter Topic Description"></textarea>                       
                    </div>
                </div>
                <div class="form-group row">                
                    <div class="col-md-12">
                        <label class="col-form-label">Description</label>
                        <textarea type="text" id="editor2" asp-for="Description" class="form-control" placeholder="Enter Detailed Description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="required col-form-label">TopiCUrl</label>
                        <input type="text" id="editor2" asp-for="TopicUrl" class="form-control" placeholder="Enter TopicUrl"/>
                    </div>
                </div>
                <h4 class="title text-danger fw-bolder">Meta Details</h4>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="required col-form-label">Meta Title</label>
                        <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Meta Title" />
                        @Html.ValidationMessageFor(m => m.MetaTitle, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Meta Keywords</label>
                        <input type="text" asp-for="MetaKeywords" class="form-control" placeholder="Meta Keywords" />
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label" placeholder="Meta Author">Meta Author</label>
                        <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Meta Author" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Description</label>
                        <textarea type="text" asp-for="MetaDescription" class="form-control" placeholder="Meta Decription"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class=" col-form-label" placeholder="Meta Og Title">Meta Og Image</label>
                        <input type="file" asp-for="File2" class="form-control" placeholder="uplod Og Image" />
                    </div>
                </div>
                <div class="form-group row">
                     <div class="col-md-6">
                        <label class="col-form-label">Meta Og Title</label>
                        <input type="text" asp-for="MetaOgTitle" class="form-control" placeholder="Meta Og Type"/>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og type</label>
                        <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Meta Og Type"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label">Meta Og Url</label>
                        <input type="text" asp-for="MetaOgUrl" class="form-control" placeholder="Meta Og Url"/>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label">Meta Og Description</label>
                            <textarea type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Meta Og Description"></textarea>
                        </div>
                    </div>
                </div>
                <hr class="form-button-divider"/>
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-form-submit"/>
                        <button type="button" class="btn btn-light btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.21.0/standard-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1', {
        height: 260,
      

        removeButtons: 'PasteFromWord'
    });
</script>
<script>
    CKEDITOR.replace('editor2', {
        height: 260,
        
        removeButtons: 'PasteFromWord'
    });
</script>