@model ProgrammingCode.Areas.PRO_ProgramSolution.Models.PRO_ProgramSolutionModel
@{
    ViewBag.Header = "Program Solution - " + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
}

<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Program Solution</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Solution Details</h4>
        <div>
            <form id="formAddEditSave_UMS" method="post" enctype="multipart/form-data"
                  asp-area="PRO_ProgramSolution" asp-action="_Save" asp-controller="PRO_ProgramSolution">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgramSolutionID)

                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label required">Program</label>
                        <select class="form-select form-select-sm" data-allow-clear="true" tabindex="-1" asp-for="ProgramID" asp-items="@(new SelectList(ViewBag.ProgramcomboList, "ProgramID", "SimpleDefination"))" data-control="select2" data-placeholder="Select Program" autofocus>
                            <option value="">Select Program</option>
                        </select>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ProgramID)</span>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label required">Programming Language</label>
                        <select class="form-select form-select-sm" data-allow-clear="true" tabindex="-1" asp-for="ProgrammingLangaugeID" asp-items="@(new SelectList(ViewBag.ProgrammingLangaugecomboList, "ProgrammingLangaugeID", "ProgrammingLangaugeName"))" data-control="select2" data-placeholder="Select Programming Language">
                            <option value="">Select Language</option>
                        </select>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ProgrammingLangaugeID)</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="require col-form-label required">Program Solution</label>
                        <textarea id="editor_data" class="form-control" placeholder="Enter Solution" asp-for="ProgramSolution"></textarea>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.ProgramSolution)</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label">Description</label>
                        <textarea id="editor_data2" class="form-control" asp-for="Description"></textarea>
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Description)</span>
                    </div>
                </div>
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.ckeditor.com/4.21.0/standard-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor_data', {
        removeButtons: 'PasteFromWord'
    });
    CKEDITOR.replace('editor_data2', {
        removeButtons: 'PasteFromWord'
    });
</script>
