@model ProgrammingCode.Areas.PRO_ProgramSolution.Models.PRO_ProgramSolutionModel
@{
    ViewBag.Header = "Program Solution -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";

}
<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Program Solution</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Solution Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="PRO_ProgramSolution" asp-action="_Save" asp-controller="PRO_ProgramSolution">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgramSolutionID)


                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4 "> Program </label>
                    <div class="col-md-5">
                        @Html.DropDownList("ProgramID", new SelectList(ViewBag.ProgramcomboList,"ProgramID","Defination"), "select Program",  new {@class="form-select form-select-sm "})
                        @Html.ValidationMessageFor(m => m.ProgramID, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4 ">Programming Langauge </label>
                    <div class="col-md-5">
                        @Html.DropDownList("ProgrammingLangaugeID", new SelectList(ViewBag.ProgrammingLangaugecomboList,"ProgrammingLangaugeID","ProgrammingLangaugeName"), "select Language",  new {@class="form-select form-select-sm "})
                        @Html.ValidationMessageFor(m => m.ProgrammingLangaugeID, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="required col-md-4 col-form-label ">Progarm Solution</label>
                    <div class="col-md-5">

                        <textarea asp-for="ProgramSolution" id="editor_data" class="form-control" placeholder="Enter Solution">

                </textarea>
                        @Html.ValidationMessageFor(m => m.ProgramSolution, "", new { @class = "form-text text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label p-4"> Description</label>
                    <div class="col-md-5">

                        <textarea type="text" id="editor_data2" asp-for="Description" class="form-control"></textarea>
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "form-text text-danger" })
                    </div>
                </div>
                @*<div class="form-group row">
                <label class="col-md-4 col-form-label"> UserID</label>
                <div class="col-md-5">

                <input type="text" asp-for="UserID" class="form-control" />
                @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "form-text text-danger" })
                </div>
                </div>*@
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor_data'))
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector('#editor_data2'))
        .catch(error => {
            console.error(error);
        });
</script>