@model List<ProgrammingCode.DAL.MST.MST_ProgrammingLangauge.SelectByProgrammingLangaugeName_Result>

<div class="card bg-light shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">
            <i class="bi bi-filetype-java fs-3"></i>
            &nbsp; Programming Langauge
        </h3>
        <div class="card-toolbar">

            <a class="btn btn-sm btn-success js-stkModal-btn ms-1"
               asp-area="MST_ProgrammingLangauge" asp-action="AddEdit" asp-controller="MST_ProgrammingLangauge">
                <i class="la la-plus"></i> Add New
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="tblList" cellspacing="0" width="100%">
            <thead class="bg-gray-300 fw-bolder">
                <tr>
                    <th class="text-center">Sr.</th>
                 
                    <th class="">ProgrammingLangauge </th>
                    <th class="">Short Description </th>
                    <th class="">Detailed Description </th>
                    <th class="">LOGO</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td class="text-center"><span data-toggle="kt-tooltip" data-placement="right" data-original-title="">@i</span></td>
                        
                        <td class="text-left">@item.ProgrammingLangaugeName</td>
                        <td class="text-left">@item.ProgrammingLangaugeShortDescription</td>
                        <td class="text-left">@item.ProgrammingLangaugeDetailedDescription</td>
                        <td><img src="@Url.Content(@item.ProgrammingLangaugeLogo)" alt="hb" style="height:40px;width:40px" /></td>
                      
                       

                        

                        <td class="text-center">

                            <span data-bs-toggle="tooltip" data-bs-placement="left" title="Edit">
                                <a class="btn btn-primary btn-icon btn-elevate btn-sm js-btn"
                               asp-route-ProgrammingLangaugeID="@item.ProgrammingLangaugeID" asp-area="MST_ProgrammingLangauge" asp-action="AddEdit" asp-controller="MST_ProgrammingLangauge">
                                    <i class="la la-edit"></i>
                                    <input type="hidden" name="ProgrammingLangaugeID" value="@item.ProgrammingLangaugeID" />
                                </a>
                            </span>

                            <form id="formDelete_UMS" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
                              asp-area="MST_ProgrammingLangauge" asp-action="_Delete" asp-controller="MST_ProgrammingLangauge" style="display: inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ProgrammingLangaugeID" value="@item.ProgrammingLangaugeID" />
                                <a class="btn btn-danger btn-icon btn-elevate btn-sm js-bb-confirm-delete" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete"><i class="la la-trash"></i></a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>