@model ProgrammingCode.Areas.MST_ProgrammingCode.Models.MST_ProgrammingLangaugeModel
@{
    ViewBag.Header = "Programming Langauge -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}

<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Programming Langauge</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Langauge Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="MST_ProgrammingLangauge" asp-action="_Save" asp-controller="MST_ProgrammingLangauge">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgrammingLangaugeID)


                <div class="form-group row">
                    <div class="col-md-4">
                    <label class="required col-form-label ">Langauge Name</label> 
                        <input type="text" id="textOne" asp-for="ProgrammingLangaugeName" name="ProgrammingLangaugeName" class="form-control" placeholder="Enter Programming Langauge Name" autofocus required />
                        @Html.ValidationMessageFor(m => m.ProgrammingLangaugeName, "", new { @class = "form-text text-danger" })
                    </div>
      
                    <div class="col-md-4">
                        <label class="col-form-label">Sequence</label>
                        <input type="number" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
                      
                    </div>

                    <div class="col-md-4">
                        <label class="col-form-label">Logo For Language</label>
                        <input type="file" asp-for="File" class="form-control" placeholder="Upload Logo"  />
                        @if (Model != null && Model.ProgrammingLangaugeID != 0)
                        {
                            if (!string.IsNullOrEmpty(Model.ProgrammingLangaugeLogo))
                            {
                                <div>
                                    <a href="@Url.Content(Model.ProgrammingLangaugeLogo)" class="btn btn-sm btn-primary mt-2" download>Download Old</a>
                                </div>
                            }
                        }
                    </div>

                   
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-form-label"> Short Description</label>
                    <textarea type="text" id="editor1" asp-for="ProgrammingLangaugeShortDescription" class="form-control" placeholder="Enter short Description"></textarea>
                       
                    </div>
                </div>
                <div class="form-group row">
                    
                    <div class="col-md-12">
                        <label class="col-form-label"> Detailed Description</label>
                        <textarea type="text" id="editor2" asp-for="ProgrammingLangaugeDetailedDescription" class="form-control" placeholder="Enter Detailed Description"></textarea>
                       
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-form-label"> Description</label>
                        <textarea type="text" id="editor3" asp-for="Description" class="form-control" placeholder="Enter Detailed Description"></textarea>                      
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="required col-form-label"> LanguageUrl</label>
                        <input type="text" asp-for="LanguageUrl" name="LanguageUrl" class="form-control" placeholder="Enter Langauge Url" />
                        @Html.ValidationMessageFor(m => m.LanguageUrl, "", new { @class = "form-text text-danger" })
                    </div>
                </div>               
                <h4 class="title text-danger fw-bolder">Meta Details</h4>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="required col-form-label">Meta Title</label>
                        <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Meta Title" />
                        @Html.ValidationMessageFor(m => m.MetaTitle, "", new { @class = "form-text text-danger" })
                </div>
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Meta Keywords</label>
                        <input type="text" asp-for="MetaKeywords" class="form-control" placeholder="Meta Keywords" />

                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label" placeholder="Meta Author">Meta Author</label>
                        <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Meta Author" />

                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-md-6">
                    <label class="col-form-label">Meta Description</label>
                        <textarea type="text" asp-for="MetaDescription" class="form-control" placeholder="Meta Decription" ></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class=" col-form-label" placeholder="Meta Og Title">Meta Og Image</label>
                        <input type="file" asp-for="File2" class="form-control" placeholder="uplod Og Image " />
             
                        @if (Model != null && Model.ProgrammingLangaugeID != 0)
                        {
                            if (!string.IsNullOrEmpty(Model.MetaOgImage))
                            {
                                <div>
                                    <a href="@Url.Content(Model.MetaOgImage)" class="btn btn-sm btn-primary mt-2" download>Download Old</a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                     <div class="col-md-6">
                        <label class="col-form-label">Meta Og Title</label>
                        <input type="text" asp-for="MetaOgTitle" class="form-control" placeholder="Meta Og Type"/>
                        @Html.ValidationMessageFor(m => m.MetaOgTitle, "", new { @class = "form-text text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og type</label>
                        <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Meta Og Type" />

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-form-label">Meta Og Url</label>
                        <input type="text" asp-for="MetaOgUrl" name="MetaOgUrl" class="form-control" placeholder="Meta Og Url" />

                    </div>
                <div class="form-group row">
                        <div class="col-md-12">
                    <label class="col-form-label">Meta Og Description</label>
                            <textarea type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Meta Og Description" > </textarea>
                    
                    </div>
                </div>
               
                </div>
               
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-form-submit" />
                        <button type="button" class="btn btn-light btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18'></script>
<script>
    // Get references to the input fields
    var firstField = document.querySelector('input[name="ProgrammingLangaugeName"]');
    var secondField = document.querySelector('input[name="LanguageUrl"]');
    var thirdField = document.querySelector('input[name="MetaOgUrl"]');

    // Add event listener to the first input field
    firstField.addEventListener('input', function () {
        // Get the value from the first input field
        var value = firstField.value;

        // Replace spaces with hyphens ("-")
        var updatedValue = value.replace(/[^\w\s-]/g, '').replace(/\s+/g, '-').trim();
        updatedValue = updatedValue.toLowerCase();
        // Update the value of the second input field
        secondField.value = updatedValue;
        thirdField.value = updatedValue;
    });
</script>

<script src="https://cdn.ckeditor.com/4.21.0/standard-all/ckeditor.js"></script>

<script>
    
    CKEDITOR.replace('editor1', {
        height: 260,
       
        removeButtons: 'PasteFromWord'
    });
    CKEDITOR.replace('editor2', {
        height: 260,
       
        removeButtons: 'PasteFromWord'
    });
    CKEDITOR.replace('editor3', {
        height: 260,
        
        removeButtons: 'PasteFromWord'
    });
</script>